.form{
    display: flex;
    justify-content: center;
    gap: 10rem;
    flex-direction: row;
    background-color: #59a0e333;
}
.formfill{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 400px;
    box-sizing: border-box;
    padding-bottom: 20px;
    gap: 10px;
}
.form-text{
    padding-top: 20px;
    width: 400px;
    padding-bottom: 20px;
}
.fill{
    height: 35px;
    border-radius: 5px;
    /* border: none; */
    border: 1px solid rgb(172, 167, 167);
    border-radius: 0;
    padding-left: 1rem;
    width: 205px;
}
.message{
    height: 70px;
    border-radius: 5px;
    border: 1px solid rgb(172, 167, 167);
    border-radius:0 ;
    width: 420px;
    padding-left: 1rem;
}
.formpara{
    font-size: 30px;
    font-weight: 500;
}
.formpara2{
    font-size: 20px;
    font-weight: 400;
}
.formrow{
    display: flex;
    flex-direction: row;
    gap: 10px;
}